<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img class="logo" src="https://i.ibb.co/JvVMnVS/tracking.png"
                alt="">GameDar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="./viewCourts">View Courts<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./createCourt">Create New Court</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./createCourtStatus">Post Court Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log Out</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container courtOptions">
        <div>
            <div id="iconContainer">
                <img class="icons" src="https://i.ibb.co/fFPWVwV/basketball2.png" alt="">

            </div>
            <h2 id="createCourtStatusTitle">Post Court Status</h2>
        </div>

    </div>
    <div class="container formContainer">
        <form id="form">
            <div class="form-row">
                   <div class="form-group col-md-6">
                    <label for="inputNumOfPlayers">Number Of Players There</label>
                    <input type="number" class="form-control" id="numOfPlayers">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputMorePlayersWanted">Looking For More Players?</label>
                <select class="form-control" id="lookingForMorePlayers">
                    <option id="yes">Yes</option>
                    <option id="no">No</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputComments">Tell Everyone What's Up</label>
                <input type="text" class="form-control" id="comments" placeholder="Got a game going">
            </div>

            <button type="submit" class="btn btn-primary submitBtn" data-toggle="modal"
                data-target="#exampleModal">Post Court Status</button>
        </form>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Post Created</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Your court status has been posted!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
<script>


    $(".submitBtn").click(function () {
        console.log("HELLO!");
        event.preventDefault();
        var courtStatus = {
            comments: $("#comments").val(),
            //numOfPlayers: $("#numOfPlayers").val(),
            sport: $("#sport").val(),
            numOfPlayers: $("#numOfPlayers").val(),
            lookingForMorePlayers: $("#lookingForMorePlayers").val(),
            //UserId: 1
        }
        console.log(courtStatus)
        // Send the POST request.
        $.ajax("/api/courtStatus", {
            type: "POST",
            data: courtStatus
        }).then(
            function () {
                console.log("created new court status");
                // Reload the page to get the updated list
                //location.reload();
            }
        );

    })


</script>