<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img class="logo" src="https://i.ibb.co/JvVMnVS/tracking.png"
                alt="">GameDar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="./viewCourts">View Courts<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./createCourt">Create New Court</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./createCourtStatus">Post Court Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log Out</a>
                </li>

            </ul>
        </div>
    </nav>
    <button onclick="initMap()">Find Courts Near You</button>
    <div class="container" id="map"></div>
    <script>

        var map;
        function initMap() {

            x = navigator.geolocation;

            x.getCurrentPosition(success);

            function success(position) {
                var coordinates = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                }
                console.log(coordinates);



                var uluru = coordinates;
                map = new google.maps.Map(
                    document.getElementById('map'),
                    // we want to center on the user's location ***
                    { center: new google.maps.LatLng(uluru), zoom: 12 });

                var icons = {
                    Basketball: {
                        icon: 'https://i.ibb.co/9yZW56v/basketball-1-1.png'
                    },
                    Soccer: {
                        icon: 'https://i.ibb.co/f2C1mtp/football-ball-1.png'
                    },
                    Baseball: {
                        icon: 'https://i.ibb.co/Rgy0bRb/baseball-1.png'
                    }
                };

                var features = [];
                var infoWindows = [];
                var contentStrings = [];
                var markers = [];

                (function () {
                    var courtsAPI = "/api/courts";
                    $.getJSON(courtsAPI)
                        .done(function (data) {
                            //console.log(data);
                            var i;
                            for (i = 0; i < data.length; i++) {
                                console.log(data[i]);
                                myLatitude = Number(data[i].lat);
                                myLongitude = Number(data[i].long);
                                features.push(
                                    {
                                        position: new google.maps.LatLng(myLatitude, myLongitude),
                                        type: data[i].sport,
                                        courtName: data[i].courtName,
                                        description: data[i].description
                                    }
                                )
                            }
                            console.log(features);
                            //$.each(data.items, function (i, item) {
                            //  console.log(data.items[i]);
                            //console.log("Holy shit it worked!");
                            //});
                            console.log("Made it to Create Markers");




                            // we need a for loop here to make an array of objects to show the courts within a certain amount radius around the user. ***

                            // Create markers.
                            for (var i = 0; i < features.length; i++) {
                                markers.push({
                                    m: new google.maps.Marker({
                                        position: features[i].position,
                                        icon: icons[features[i].type].icon,
                                        map: map
                                    }),
                                    iw: new google.maps.InfoWindow({
                                        maxWidth: 320,
                                        content: '<div id="content">' +
                                            '<div id="siteNotice">' +
                                            '</div>' +
                                            '<h1 id="firstHeading" class="firstHeading">' + features[i].courtName + '</h1>' +
                                            '<div id="bodyContent">' +
                                            '<p><b>' + features[i].description + '</b>' +
                                            '</div>' +
                                            '</div>'
                                    })
                                })
                            }
                            markers.forEach(function (marker) {
                                marker.m.addListener('click', function () {
                                    marker.iw.open(map, marker.m)
                                })
                            })


                            // function initMap() {
                            // var uluru = {lat: -25.363, lng: 131.044};
                            // var map = new google.maps.Map(document.getElementById('map'), {
                            //   zoom: 4,
                            //   center: uluru
                            // });


                            //needs to be dynamically generated to show court's info.***
                            var contentString = '<div id="content">' +
                                '<div id="siteNotice">' +
                                '</div>' +
                                '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                                '<div id="bodyContent">' +
                                '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                                'sandstone rock formation in the southern part of the ' +
                                'Heritage Site.</p>' +
                                '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                                'https://en.wikipedia.org/w/index.php?title=Uluru</a> ' +
                                '(last visited June 22, 2009).</p>' +
                                '</div>' +
                                '</div>';

                            var infowindow = new google.maps.InfoWindow({
                                maxWidth: 320,
                                content: contentString
                            });

                            var marker = new google.maps.Marker({
                                position: uluru,
                                map: map,
                                //title to be name of court.***
                                title: 'Uluru (Ayers Rock)'
                            });
                            marker.addListener('click', function () {
                                infowindow.open(map, marker);
                            });
                        });
                })();

            }

        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa7_fZwPyu9CJQEKSeoGQlPtRxIKoRKXg">
    </script>
</div>